body {
  font: 16px Oregano, Arial, sans-serif;
  /* 
  same color as taco shell 
  use hue, saturation, and lightness to aid in the setting the background color 
  of the header and footer 
  */
  background-color: hsl(38, 100%, 60%);
}
/* 
Set the header, main, and footer a maximum width of 1020px.
Set the top and bottom margins to 0.
Set the right and left margins to auto so it is horizontally centered.
 */
header,
main,
footer {
  max-width: 1020px;
  margin: 0 auto; /* centers the header, main, and footer */
  padding: 0;
}
header,
footer {
  /* 
  Set the background color to same hue and saturation as body, but with 80% lightness.
  */
  background-color: hsl(38, 100%, 80%);
  border: 1px solid black;
}

header {
  padding: 0 0 2rem 0;
  text-align: center; /* header is aligned at the center */
  /* border-style: solid;  */
  /* gives the header a solid border */
}
/*
Set the img width to be 100% of its parent element.
Set the img height to auto to maintain the aspect ratio. 
*/
header img {
  width: 100%;
  height: auto;
}
h1,
h2,
h3 {
  padding: 0 2rem;
}
h1 {
  color: brown; /* gives header 1 the color brown */
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
main {
  font-size: 2rem;
  border: 1px solid #aaa;
}
/*
Use a flexbox to display the article as 3 columns.
The edge column is given the class border, 
and the middle column is given the class lyrics.
*/
article {
  display: flex;
  width: 100%;
  background-color: yellow;
}
/*
Set flex-grow to 1 for the edge columns, so they take up all available space.
Use a background image for the edge columns to repeat the image vertically.
Set the background size to 80% of the column width.
Set the background position to horizontally center and vertically 1rem from the top.
*/
.border {
  flex-grow: 1;
  height: auto;
  background-image: url("https://png.pngtree.com/png-clipart/20220910/original/pngtree-illustration-of-tacos-with-various-toppings-png-image_8530472.png");
  background-size: 80%;
  background-repeat: repeat-y;
  background-position: center 1rem;
}
/*
Set flex-grow to 0 for the middle column, so its width is determined by its content.
*/
* .lyrics {
  padding: 1rem;
  flex-grow: 0;
}
/*
Use a flexbox to horizontally center the footer.
*/
footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
/*
Use a flexbox to horizontally center the footer links.
*/
footer ul {
  list-style-type: none;
  justify-items: center;
}
footer li {
  padding: 0.5rem;
}
